body{
    display: flex;
    flex-direction: column;
}

h1{
    font-weight: bold;
    background: 1000, 60;
    background-color: white;
    box-shadow: 8px 8px 12px #aaa;
}

ul{
    list-style: none;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
