table{
      border-color: blue;
}

.grise{
      background-color: #F0F8FF;
}

.bleue{
      background-color: #6495ED;
}

.jaune{
      background-color: #FFF8DC;
}

.orange{
      background-color: orange;
}

.verte{
      background-color: #7FFFD4;
}

.mauve{
      background-color: violet;
}
