.maDiv{
        width: 200px;
        height: 200px;
        border: 2px solid green;
        background-image:: url("../Images/Ficus_Danielle.jpg");
        background-size: cover;
        background-repeat: no-repeat;
}
